<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CSE honors input</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/substyle1.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
</head>

<body>
  <div class="container">
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br>

    <div class="title">Subject Details</div>
    <form action="#" method="post">
      <br>
      <h2>Enter 1st semester marks</h2>
      <div class="user-details">
        <div class="input-box">
          <span class="details">Mathematics-1</span>
          <input type="number" name="M1" required>
        </div>
        <div class="input-box">
          <span class="details">Applied Physics</span>
          <input type="number" name="AP" required>
        </div>
        <div class="input-box">
          <span class="details">Basic Electrical Engineering</span>
          <input type="number" name="BEE" required>
        </div>
        <div class="input-box">
          <span class="details">Engineering Workshop</span>
          <input type="number" name="EWS" required>
        </div>
        <div class="input-box">
          <span class="details">Programming and problem solving-1</span>
          <input type="number" name="PPS1" required>
        </div>

      </div>


      <h2>Enter 2nd semester marks</h2>
      <div class="user-details">

        <div class="input-box">
          <span class="details">Mathematics-2</span>
          <input type="number" name="M2" required>
        </div>
        <div class="input-box">
          <span class="details">Programming and problem solving-2</span>
          <input type="number" name="PPS2" required>
        </div>
        <div class="input-box">
          <span class="details">Engineering Chemistry</span>
          <input type="number" name="EC" required>
        </div>
        <div class="input-box">
          <span class="details">Engineering Drawing</span>
          <input type="number" name="EDraw" required>
        </div>
      </div>
      <h2>Enter 3rd semester marks</h2>
      <div class="user-details">

        <div class="input-box">
          <span class="details">Object oriented programming</span>
          <input type="number" name="OOPS" required>
        </div>
        <div class="input-box">
          <span class="details">Probability and Statistics</span>
          <input type="number" name="P&S" required>
        </div>
        <div class="input-box">
          <span class="details">Data Structures</span>
          <input type="number" name="DStr" required>
        </div>
        <div class="input-box">
          <span class="details">Digital Logic Design</span>
          <input type="number" name="DLD" required>
        </div>
        <div class="input-box">
          <span class="details">Python Programming</span>
          <input type="number" name="PP" required>
        </div>
        <div class="input-box">
          <span class="details">Discrete Mathematics</span>
          <input type="number" name="DM" required>
        </div>

      </div>
      <h2>Enter 4th semester marks</h2>
      <div class="user-details">

        <div class="input-box">
          <span class="details">Computer Organisation</span>
          <input type="number" name="CO" required>
        </div>

        <div class="input-box">
          <span class="details">Java Programming</span>
          <input type="number" name="Java" required>
        </div>
        <div class="input-box">
          <span class="details">Software Engineering</span>
          <input type="number" name="SE" required>
        </div>
        <div class="input-box">
          <span class="details">Formal languages and automata theory</span>
          <input type="number" name="FLAT" required>
        </div>
        <div class="input-box">
          <span class="details">Database management system</span>
          <input type="number" name="DBMS" required>
        </div>

      </div>
      <h2>Enter 5th semester marks</h2>
      <div class="user-details">

        <div class="input-box">
          <span class="details">Computer Networks</span>
          <input type="number" name="CN" required>
        </div>
        <div class="input-box">
          <span class="details">Operating Systems</span>
          <input type="number" name="OS" required>
        </div>
        <div class="input-box">
          <span class="details">Design and analysis of algorithms</span>
          <input type="number" name="DAA" required>
        </div>
        <div class="input-box">
          <span class="details">Web technologies</span>
          <input type="number" name="WT" required>
        </div>
        <div class="input-box">
          <span class="details">Entrepreneurship Development</span>
          <input type="number" name="EDev" required>
        </div>
        <div class="input-box">
          <span class="details">LRVQA</span>
          <input type="number" name="LRVQA" required>
        </div>

      </div>
      <h2>Enter 6th semester marks</h2>
      <div class="user-details">

        <div class="input-box">
          <span class="details">Compiler Design</span> </span>
          <input type="number" name="CD" required>
        </div>
        <div class="input-box">
          <span class="details">Data warehouse and data mining</span>
          <input type="number" name="DWDM" required>
        </div>

      </div>
      <div class="button">
        <input type="submit" value="submit">
      </div>


    </form>
  </div>
</body>

</html>