<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>4_1_output</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/substyle1.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">

</head>

<body>
  <div class="container">
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="title">Recommendations</div>
    <h1>For PE-4 : </h1>
    <h2>Your potential scores are as follows</h2>
    <br>
    <p>BiG Data : {{BD}}</p>
    <br>
    <p>Distributed Systems : {{Dsys}}</p>
    <br>
    <p>Soft Computing : {{SC}}</p>
    <br>
    <h3>{{RecommPE4}} is recommended for you.</h3><br>
    <br><br>

    <h1>For PE-5 : </h1>
    <h2>Your potential scores are as follows</h2>
    <br>
    <p>Internet of Things : {{IoT}}</p>
    <br>
    <p>Computer Graphics : {{CG}}</p>
    <br>
    <p>Software Testing Methodologies : {{STM}}</p>
    <br>
    <h3>{{RecommPE5}} is recommended for you.</h3><br>
    <br><br>

    <h1>For PE-6 : </h1>
    <h2>Your potential scores are as follows</h2>
    <br>
    <p>Data Science and Analytics : {{DSA}}</p>
    <br>
    <p>Cloud Computing : {{CC}}</p>
    <br>
    <p>Image Processing : {{IP}}</p>
    <br>
    <h3>{{RecommPE6}} is recommended for you.</h3><br>
    <br><br>




</body>

</html>