<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>minors input</title>
  </head>
  <body>
    <form action="#" method="post">
        <p>Enter OS</p>
        <p><input type="number" name="OS"></p>
        <p>Enter WT</p>
        <p><input type="number" name="WT"></p>
        <p>Enter DWDM</p>
        <p><input type="number" name="DWDM"></p>
        <p>Enter DBMS</p>
        <p><input type="number" name="DBMS"></p>
        <p>Enter Python</p>
        <p><input type="number" name="Python"></p>
        <p>Enter Java</p>
        <p><input type="number" name="Java"></p>
        <p>Enter DS</p>
        <p><input type="number" name="DS"></p>
        <p>Enter CD</p>
        <p><input type="number" name="CD"></p>
        <p>Enter R Prog</p>
        <p><input type="number" name="R PROG"></p>
        <p>Enter LRVQA</p>
        <p><input type="number" name="LRVQA"></p>
        <p>Enter P&S</p>
        <p><input type="number" name="P&S"></p>
        <p><input type="submit" value="submit"></p>
    </form>
  </body>
</html>