<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>subject details | RecommnenderSys</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap demo</title>
  <link rel="stylesheet" href="substyle1.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">

</head>

<body>




  <div class="container">
    <div class="title">Subject Details</div>
    <form action="#">
      <br>
      <p>sdfrg</p>
      <div class="user-details">
        <div class="input-box">
          <span class="details">OS</span>
          <input type="number" placeholder="Enter OS marks" required>
        </div>
        <div class="input-box">
          <span class="details">WT</span>
          <input type="number" placeholder="Enter WT marks" required>
        </div>
        <div class="input-box">
          <span class="details">DWDM</span>
          <input type="number" placeholder="Enter DWDM marks" required>
        </div>
        <div class="input-box">
          <span class="details">DBMS</span>
          <input type="number" placeholder="Enter DBMS marks" required>
        </div>
        <div class="input-box">
          <span class="details">PYTHON</span>
          <input type="number" placeholder="Enter PYTHON marks" required>
        </div>
        <div class="input-box">
          <span class="details">JAVA</span>
          <input type="number" placeholder="Enter JAVA marks" required>
        </div>
        <div class="input-box">
          <span class="details">DS</span>
          <input type="number" placeholder="Enter DS marks" required>
        </div>
        <div class="input-box">
          <span class="details">CD</span>
          <input type="number" placeholder="Enter CD marks" required>
        </div>
        <div class="input-box">
          <span class="details">R Programming</span>
          <input type="number" placeholder="Enter R Programming marks" required>
        </div>
        <div class="input-box">
          <span class="details">LRVQA</span>
          <input type="number" placeholder="Enter LRVQA marks" required>
        </div>
        <div class="input-box">
          <span class="details">P&S</span>
          <input type="number" placeholder="Enter P&S marks" required>
        </div>
      </div>
      <div class="button">
        <input type="submit" value="submit">
      </div>
    </form>
  </div>

  </section>

</body>

</html>